.section-header{
    margin: 10px;
}
.section-content{
    width: 90%;
    margin: 10px auto;
}
.col-head{
    font-size: 15px;
}
.col-value{
    font-size: 13px;
}
.title{
    cursor: pointer;
    color: #6495ed;
}
