.pop-container{
    .row{       
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .list-container{
        padding: 0px;
        border-bottom: 1px solid #ccc;
        .list-wrap{
            padding: 10px;
            margin: 0;
            list-style: inside;
            li{
                margin: 5px 0;
            }
            .lable{
                width: 25%;
                display: inline-block;
            }
            .value{
                width: 75%;
                
            }
            .inner-list{
                margin-left: 10px;
                .inner-films{
                    display: flex;
                    align-items: center;
                }
            }
        }
        
    }
    .close-wrap{
        text-align: end;
        .close-btn{
            width: 30px;
            padding: 5px;
            margin: 0;
            height: 30px;
            line-height: 1;
            max-width: 30px;
            min-width: 10px;
            background: #fff;
            color: #000;
        }
    }   
    
}
